<!DOCTYPE html>
<html>
	<head>
<title>Contact Information</title>
	</head>
	
<form>
First Name: <br>
<input type= "text" name = "firstname">
<br>
Last Name: <br>
<input type= "text" name = "lastname">
<br>
Phone Number: <br>
<input type= "text" name = "phonenumber">
<br>
Email: <br>
<input type= "text" name = "email">
<br>
<br>
<input type= "submit">
<br>
</form>

</html>
